# Android / Gradle
*.iml
.gradle/
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build/
/app/release/
*.apk
*.aab
*.ap_
*.dex

# Kotlin
.kotlin/

# Java
*.class
*.log
hs_err_pid*
replay_pid*

# Configuracao local do PowerSync self-hosted
powersync/self-host/.env
